<div align="center">
<%if current_user.editor %>
<h1>Editar Equipe</h1>

<%= render 'form', team: @team %>

<%= link_to 'Mostrar', @team %> |
<%= link_to 'Back', teams_path %>

<%else%>
<h2>Você não está autorizado a acessar o conteúdo dessa página.</h2>
<%= link_to 'Voltar', teams_path %>
<%end%>
</div>