<style>
h3 {
  size: 22;
  
}
</style>

<div align="left">
	<h3>
	<strong>
	Bem-vindo ao Inkflow, <em>logado como: <%=current_user.email%></em>
	</strong>
	</h3>

</div>
<br><br>

<div class="container">

	<p class="text-muted lead">
			O projeto de uma Aplicação Web que veio para sanar os problemas do NTI (Núcleo de Tecnologia da Informação). O NTI adotou a metodologia OKR em seus projetos e vem enfrentando uma série de dificuldades pricipalmente no quesito visualização.

			Inkflow soluciona esses problemas com uma interface leve e simples de ser utilizada.
	</p>
</div>
