<style>
h3 {
  size: 22;
  color: 'purple';
  
}
</style>




	<div class="row">
		<div class="col-md-12">
			<h2>
			<strong>
			Bem-vindo ao Inkflow
			</strong>
			</h2>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
					<h3>O que é o Inkflow?</h3>
					<p class="text-muted lead">
					Um projeto de uma Aplicação Web que veio para sanar os problemas do NTI (Núcleo de Tecnologia da Informação). O NTI adotou a metodologia OKR em seus projetos e vem enfrentando uma série de dificuldades pricipalmente no quesito visualização.

					Inkflow soluciona esses problemas com uma interface leve e simples de ser utilizada.
					</p>
					</div>

					<div class="col-md-4">
					<h3>Quem somos?</h3>
					<p class="text-muted lead">
					Estudantes da Universidade Federal de Pernambuco do curso de Sistemas de Informação do quarto período. 2016.2
					</p>
					</div>

					<div class="col-md-4">
					<h3>Como utilizar?</h3>
					<p class="text-muted lead">
					Para entender melhor como funciona a aplicação clique no link <em>Tutorial</em> na barra de navegação acima.
					</p>
					</div>
				</div>
			</div>

		</div>
	</div>
