<div align="center"><strong><h1>Welcome to Inkflow </h1></strong></div>
<br>
<br>
<br>

<h2> You are logged in as: <%=current_user.email%>  </h2>
<br>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>




