<style>
	

</style>

<div class="container-fluid">
<div  align="center">
            <h3>Opções</h3>
            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
              <li><a href="#">Equipe</a></li>
              <hr>
              <li><a href="#">OKR</a></li>
              <hr>
              <li><a href="#">KR</a></li>
            </ul>
        </div>
</div>