<style>
div.pad {
    padding: 25px;
}

</style>


<h1>Fale com nosso time</h1>

<br>
<div align="center">
<h1 style="font-family: 'courier' ">
	<strong>
	Desenvolvedores
	</strong>
</h1>	
           <div class="pad">
            <img alt="Arthur Farias" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/13900376_1053728778047268_6370108279326510345_n.jpg?oh=552e44bfe7c96a7139350fe025b133ed&oe=58891CC4" />
            <img alt="Caio Cavalcanti" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/13419056_651449448335410_6383356122176775996_n.jpg?oh=c0e4fe9598051d138ba5ee5d323919b2&oe=589B28E7" />
            <img alt="José Augusto" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/11998922_944143905608866_5223284539658861120_n.jpg?oh=9ee94a93899aae42138ad4ee972056c4&oe=58D2F7C6" />
            <img alt="Felipe Horácio" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/12728916_950010835075095_2062884892245245846_n.jpg?oh=360de36680103c13b0ac394a7dba230a&oe=5887F505" />
            </div>
</div>
<p> Celular:<em> 81 9 99658697</em></p>
<p>E-mail:<em> inkflow.ufpe@gmail.com</em></p>
