/*
 
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, 
html {
	min-height:100%;
	max-width: 100%;
    overflow-x: hidden;
}


body {
	
	background-repeat:no-repeat;
	background-size: cover;
	background-color: white;
	
	background-opacity: 0.8;
    background-filter: alpha(opacity=50);
}
