// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#td02 {max-width: 110ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;}
#p02 {text-align: justify;
            hanging-punctuation: allow-end;
            word-break: normal;
            word-wrap: break-word;}