<p>Ola! <%= @resource.email %>!</p>

<p>Link para mudar seu password abaixo:</p>

<p><%= link_to 'Mudar meu password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>

